@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #426696;
    font-weight: 600;
    font-size: 1.3rem;
    opacity: 0.8;
}

h2,
p {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}

h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
    font-size: 0.8em;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top,#65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;
    position: relative;
    z-index: 99;
    display: flex;
}

.circle1,
.circle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.9), rgba(255,255,255,0.1));
    height: 10rem;
    width: 10rem;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
}

.circle1 {
    top: 5%;
    right: 10%;
}

.circle2 {
    bottom: 5%;
    left: 10%;
}

.dashboard {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;
    padding: 1.5em 0em;
}

.link {
    display: flex;
    padding: 1rem 4rem;
    align-items: center;
    justify-content: flex-start;
}

.link h2 {
    font-size: 0.7em;
    flex: 2;
    font-weight: bold;
    box-shadow: 0 0 120px #65dfc9;
}

i{
    background: linear-gradient(to right top,#2cb89e,#a3ddd2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 0.3em;
    flex: 1;
    font-size: 21px;
    user-select: none;
    cursor: pointer;
}

.pro i {
    padding-left: 0.5em;
    transform: rotate(-30deg);
}


i:hover {
    transition: 1s;
    background: #025344;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 0 0 120px #65dfc9;
    transform: rotate(360deg);
}

.games {
    flex:2;
}

.user img {
    border-radius: 50%;
    height: 60px;
}

.user p {
    font-size: 0.6em;
}

.pro {
    background: linear-gradient(to right top,rgba(108, 219, 235,0.4), rgba(101, 223, 201,0.7));
    font-size: 10px;
    border-radius: 2rem;
    color: white;
    display: flex;
    padding: 0.5rem;
    width: 175px;
    height: 125px;
    align-items: center;
}

.pro h2 {
    width: 40%;
    color: white;
    font-weight: 600;
    font-size: 1.2em;
}



/* Games */
.status {
    margin-bottom: 0rem;
}

.status input {
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border: none;
    width: 70%;
    padding: 0.2rem;
    border-radius: 2rem;
}

.games {
    margin: 2rem 3rem 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.games h2 {
    font-size: 0.7em;
}

.games p {
    font-size: 0.6em;
}

.card {
    display: flex;
    background: linear-gradient(to left top, rgba(255,255,255,0.8), rgba(255,255,255,0.6));
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 1em;
    box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
    justify-content: space-between;
}

.card img {
    width: 60px;
    height: 60px;
    border-radius: 1.2rem;
}

.progress {
    background:linear-gradient(to right top,#65dfc9, #6cdbeb);
    width: 100% ;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.progress::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236,236,236);
    position: absolute;
    left: 60%;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.percentage {
    font-weight:bold;
    background:linear-gradient(to right top,#65dfc9, #6cdbeb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}